.background {
  background-color: $color-white;
  padding-block: 120px;


  .content {
    margin-inline: auto;
    max-width: $constraint-main-col;
    padding-inline: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    gap: 32px;

  }
}

.custom_btn {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $color-primary;

}
