.element {
  display: flex;
  gap: 8px;
  font-family: $font-roboto;
}

.symbol {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-secondary-800;
}

.price {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
  width: max-content;
}

.change {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.positive {
  color: $color-tertiary-700;
}

.negative {
  color: $color-quaternary-700;
}
