.background {
  width: 100%;
  padding-top: 120px;
}

  .containerRight{
    position: absolute;
    margin-left: 1000px;
    opacity: 0.5;
    height: 100vh;
  }
  .section_container {
    display: flex;
    width: $constraint-main-col;
    padding-inline: 8px;
    margin-inline: auto;
    align-items: center;
    gap: 80px;

    > div {
    display: flex;
    width: $constraint-main-col;
    padding-inline: 8px;
    margin-inline: auto;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }
}
.content {
	display: flex;
	flex-direction: column;
	gap: 32px;

  header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 590px;

     	h1 {
			color: $color-primary-500;
    }
  }
}

.custom_button {
  max-width: 278px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
}

.chips {
  display: flex;
  gap: 32px;
  max-width: 339px;
  display: flex;
  margin-top: 50px;


  > span {
    background: #fff6e8;
    border-radius: 4px;
    padding: 4px 16px;
    color: #fbab34;
    font-family: $font-roboto;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

}

@media (max-width: $break-point-tablet) {
	.section_container {
		padding-inline: 48px;
	}

	.content {
		max-width: 320px;

		header {
			h1 {
				font-weight: 700;
				font-size: 32px;
				line-height: 40px;
			}

			h5 {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.custom_button {
		max-width: 232px;
	}

	.chips {
		gap: 24px;

		> span {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
