.background {
  width: 100%;
  padding-top: 120px;
}

  .containerRight{
    position: absolute;
    margin-left: 1000px;
    opacity: 0.5;
    height: 100vh;
  }
  .section_container {
    display: flex;
    max-width: $constraint-main-col;
    padding-inline: 8px;
    margin-inline: auto;
    align-items: center;
    gap: 80px;


    > div {
    display: flex;
    width: $constraint-main-col;
    padding-inline: 8px;
    margin-inline: auto;
    align-items: center;
    flex-direction: column;
    gap: 80px;
  }
}
.content {
	display: flex;
	flex-direction: column;
	gap: 32px;

  header {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 590px;

     	h1 {
			color: $color-primary-500;
    }
  }
}

.custom_button {
  max-width: 278px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
}

.chips {
  display: flex;
  gap: 32px;
  max-width: 339px;
  display: flex;
  margin-top: 50px;


  > span {
    background: #fff6e8;
    border-radius: 4px;
    padding: 4px 16px;
    color: #fbab34;
    font-family: $font-roboto;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

}

@media (max-width: $break-point-tablet) {
	.section_container {
		padding-inline: 48px;
	}

	.content {
		max-width: 320px;
		header {
			h1 {
				font-weight: 700;
				font-size: 32px;
				line-height: 40px;
			}

			h5 {
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.custom_button {
		max-width: 232px;
	}

	.chips {
		gap: 24px;

		> span {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
@media (max-width: $break-point-tablet) {
  .section_container {
    padding-inline: 48px;
  }

  .content {
    max-width: 320px;

    header {
      h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
      }

      h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .hero_img {
    width: 100%;
    min-width: 200px;
  }
  .image {
    width: 285px;
    height: 280px;
  }
  .img {
    width: 285px;
    height: 280px;
    margin-right: 450px;
  }

  .custom_button {
    max-width: 232px;
  }

  .chips {
    gap: 24px;

    > span {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .section_container {
    width: 0;
    padding-inline: 48px;
  }
  .chips {
    width: 320px;
    margin-left: -3vh;

    span{
      width: 70px;
      height: 35px;
      padding: 5px;
      font-size: 12px!important;
      margin-top: -50px;
      text-align: center;
    }

  }
  .content {
    max-width: 320px;

    header {
      h1 {
        width: 320px;
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        margin-left: -70px;
      }

      h5 {
        width: 280px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        margin-left: -50px;
        margin-top: -20px;
      }
    }
    button {
      width: 180px;
      font-size: 14px;
      margin-top: -20px;
    }
  }

  .hero_img {
    width: 100%;
    min-width: 200px;
  }
  .image {
    width: 285px;
    height: 280px;
  }
  .img {
    width: 285px;
    height: 280px;
    margin-right: 450px;
  }

  .custom_button {
    max-width: 232px;
  }

  .pills {
    gap: 24px;

    > span {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

