.background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f7f7f7 100%);
  width: 100%;
}

.section_content {
  max-width: $constraint-main-col;
  margin-inline: auto;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  gap: 32px;
  padding-block: 120px;
}

.main_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;

  header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h5 {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: $color-primary-500;
    }

    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: $color-text;
    }
    p {
      color: $color-text;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}


.cards_wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;

  > div {
    display: flex;
    gap: 32px;
  }
  > .left-card {
    background: black;
  }
}

.cards_wrapper {
  gap: 24px;
  > div {
    gap: 24px;
  }

  > div:nth-child(1)::after {
    content: "";
    width: calc(136px - 48px);
    height: 100px;
  }

  > div:nth-child(2)::before {
    content: "";
    width: calc(136px - 48px);
    height: 100px;
  }
}


@media (max-width: $break-point-tablet) {
  .section_content {
    padding-inline: 48px;
    flex-direction: column-reverse;
  }

  .main_content {
    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .cards_wrapper {
    gap: 24px;

    > div {
      gap: 24px;
    }

    > div:nth-child(1)::after {
      content: "";
      width: calc(136px - 48px);
      height: 100px;
    }

    > div:nth-child(2)::before {
      content: "";
      width: calc(136px - 48px);
      height: 100px;
    }
  }
}
