.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  gap: 16px;
  width: 280px;
  height: 268px;
  background: $color-white;



  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    header {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        color: $color-primary-500;
        font-weight: 700;
        font-size: 16px;
      }
    }

    p {
      font-size: 14px;
    }
  }
}
@media (max-width: $break-point-tablet) {
  .card {
    width: 100%;
    max-width: 200px;
    height: auto;

  }

}

