.page_bg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.nav_bg {
  display: flex;
  width: 100%;
  background-color: $color-white;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  padding: 24px 32px 24px 40px;
}

.left_wrapper {
  display: flex;
  gap: 40px;
}

.right_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.user_img {
  border: 1px solid #f6f6f6;
  border-radius: 32px;
}

.main_row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;

  .left_column {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px 24px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #e0deea;
  }
}

.main_wrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background-color: #f9f9f9;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-shadow: 0px -4px 8px rgba(77, 77, 77, 0.1);
}
