.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 448px;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: $color-text;
  text-align: center;

  span {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;
    color: $color-secondary;

    span {
      color: $color-primary-500;
    }
  }
}

.password_group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .forgot_pass_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $color-secondary;
    align-self: flex-end;
  }
}

.sign_custom_btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.dont_have_an_account_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-text;
  gap: 4px;

  span {
    font-size: inherit;
    line-height: inherit;
    font-weight: 700;

    span:nth-child(1) {
      color: $color-primary-500;
    }

    span:nth-child(2) {
      color: $color-secondary-500;
    }
  }
}
